body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.top-span {
    color: orange;
}

.btn-hire-me {
    text-decoration: none;
    background-image: linear-gradient(orange, orangered);
    border-radius: 5px;
    padding: 15px 30px;
    color: white;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    display: flex;
    margin-bottom: 175px;
}

.header-section {
    width: 50%;
    padding-left: 7%;
}

.header-section img {
    width: 80%;
}


.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.middle-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}